<%- include('../partials/header') %>

<label>Create a new List of Books that you want to read</label>
<button>
    <a href="/lists/new/bookstoread">New List</a>
</button>

<label>Create a new List of Books that you have already read</label>
<button>
    <a href="/lists/new/bookshaveread">New List</a>
</button>

<%- include('../partials/footer') %>