<%- include('../partials/header') %>

<form action="/lists" method="POST">
    <label>List Title:</label>
    <input type="text" name="title" required>

    <label>Select Books that you want to read: </label>
    <% books.forEach(book => { %>
        <div>
            <input type="checkbox" name="title" value="<%= book._id %>">
            <label><%= book.title %></label>
        </div>
    <% }) %>

    <button type="submit">Create List</button>

<%- include('../partials/footer') %>