<%- include('../partials/header') %>

<div class="flex items-center justify-center h-[80vh] md:h-screen">
    <form class="flex flex-col gap-4 bg-gray-800 w-72 px-5 py-2.5" action="/books" enctype="multipart/form-data" method="POST">
        <div>
            <label class="text-white">Title:</label>
            <input class="mt-2 w-60" type="text" name="title" required>
        </div>
    
        <div>
            <label class="text-white">Author:</label>
            <input class="mt-2 w-60" type="text" name="author">
        </div>
    
        <div>
            <label class="text-white">Release Year:</label>
            <input class="mt-2 w-60" type="number" name="releaseYear">
        </div>
    
        <div>
            <label class="text-white mr-5 block">Genre:</label>
            <select class="px-3 py-1.5 mt-2 w-60" name="genre">
                <option value="Fantasy">Fantasy</option>
                <option value="Action">Action</option>
                <option value="Crime">Crime</option>
                <option value="Romance">Romance</option>
            </select>
        </div>
    
        <div>
            <label class="text-white">Description:</label>
            <textarea class="mt-2 px-3 py-1.5 w-60" name="description" required></textarea>
        </div>
          
        <div class="border border-gray-400 truncate">
            <label class="text-white ml-3">Image:</label>
            <input class="text-white hidden" type="file" name="image" id="files" onchange="updateLabel(this)">
            <label for="files" id="fileLabel" class="cursor-pointer text-white ml-8">Select File</label>
        </div>

        <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="submit">Add Book</button>
    </form>
</div>

<script>
    function updateLabel(input) {
        const fileName = input.files[0].name;
        document.getElementById('fileLabel').textContent = fileName;
    }
</script>


<%- include('../partials/footer') %>