<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/books">All Books</a>
        <a href="/lists">All Lists</a>
        <% if (user) { %>
            <a href="/books/new">Add a Book</a>
            <a href="/lists/new">Add a List</a>
            <a href="/readBooks">What Books have I read</a>
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;</a>
        <% } %>
    </nav>
    <main>