<%- include('../partials/header') %>

<h1 class="mx-auto">Read Books</h1>
<ul>
    <% books.forEach(book => { %>
        <li><%= book.title %></li>
    <% }) %>
</ul>

<%- include('../partials/footer') %>